body  {
    background-color:#06041d;
    font-family: Arial;
    padding: 20px;
}
h1 {
    color: #34a2a0;
    text-align: center;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 250px;
}
.search-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.titulo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
button {
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    cursor: crosshair;
    font-size: 16px;
}

button:hover {
    background-color:#2f8e97;
}
.titulo-valorant {
    font-family: 'Arial Black', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    color: #ff4655; /* rojo Valorant */
    text-align: center;

    /* Borde estilo Valorant */
    display: inline-block;
    padding: 10px 25px;
    border: 3px solid #ff4655;
    border-radius: 4px;

    /* Efecto diagonal */
    position: relative;
}

.titulo-valorant::before {
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    width: 20px;
    height: 20px;
    border-top: 3px solid #ff4655;
    border-left: 3px solid #ff4655;
}

.titulo-valorant::after {
    content: "";
    position: absolute;
    bottom: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    border-bottom: 3px solid #ff4655;
    border-right: 3px solid #ff4655;
}
